:root { 
    --gray_50_01:#f8f8f8; 
    --red_700:#ed1c24; 
    --blue_gray_50:#f1f1f1; 
    --green_A700_dd:#00db4add; 
    --green_800:#18a01e; 
    --green_A400_e5:#20df61e5; 
    --gray_50:#fbfcfd; 
    --green_500:#4caf50; 
    --black_900_1e:#0000001e; 
    --green_A700:#00db4a; 
    --black_900:#000000; 
    --red_A400:#ed1c46; 
    --blue_gray_900_01:#2f2f2f; 
    --blue_gray_900:#333333; 
    --deep_orange_400:#fa8a34; 
    --pink_100:#ffbfcc; 
    --green_500_e5:#4caf50e5; 
    --gray_600:#757575; 
    --gray_900_02:#242424; 
    --gray_700:#656565; 
    --blue_900:#0042c4; 
    --green_800_01:#19a01e; 
    --blue_gray_100:#d9d9d9; 
    --gray_600_01:#797979; 
    --blue_gray_300:#8e90a5; 
    --gray_800:#3b3b3b; 
    --gray_900:#222222; 
    --gray_900_01:#1c1b1f; 
    --gray_200:#eeeeee; 
    --gray_300:#e5e5e5; 
    --gray_300_01:#e0e0e0; 
    --blue_900_e5:#0042c4e5; 
    --gray_100:#f3f3f3; 
    --white_A700_66:#ffffff66; 
    --deep_purple_50:#e7e0ec; 
    --black_900_77:#00000077; 
    --black_900_99:#00000099; 
    --black_900_19:#00000019; 
    --white_A700:#ffffff; 
    }